@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

[class*=__container] {
  max-width: 1.875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@font-face {
  Font-Family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  Font-Family: PTSans;
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  Font-Family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  Font-Family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  Font-Family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  Font-Family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes opacitySt {
  0% {
    stroke-opacity: 1;
  }

  100% {
    stroke-opacity: 0;
  }
}

@keyframes opacitySt {
  0% {
    stroke-opacity: 1;
  }

  100% {
    stroke-opacity: 0;
  }
}

@-webkit-keyframes runBtn {
  25% {
    -webkit-transform: translate(5%, 0);
            transform: translate(5%, 0);
  }

  50% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }

  75% {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes runBtn {
  25% {
    -webkit-transform: translate(5%, 0);
            transform: translate(5%, 0);
  }

  50% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }

  75% {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  display: inline-block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-shape:before {
  content: "\e901";
}

.btn-anim {
  position: relative;
  overflow: hidden;
}

.btn-anim__line,
.btn-anim__line-one {
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-animation: line-anim 2s ease-in-out forwards;
          animation: line-anim 2s ease-in-out forwards;
}

.btn-anim__line {
  border: 0.0625rem solid rgb(87, 166, 240);
  background-color: rgba(14, 192, 227, 0.467);
}

.btn-anim__line-one {
  background-color: rgba(23, 182, 213, 0.467);
}

@-webkit-keyframes line-anim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes line-anim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

body {
  font-family: WorkSans, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(17, 17, 17);
}

.wrapper {
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup {
  width: 100%;
  max-width: 50rem;
  background-color: rgb(244, 245, 252);
}

.signup._active .item-form {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.signup._active .item-form:nth-child(1) {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.signup._active .item-form:nth-child(2) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.signup._active .item-form:nth-child(3) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.signup._active .item-form:nth-child(4) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.signup._active .item-form:nth-child(5) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.signup._active .item-form:nth-child(6) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.signup._active .item-form:nth-child(7) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.signup._active .item-form:nth-child(8) {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.signup._active .form__decor {
  -webkit-transition: fill-opacity 1.5s ease 1s, stroke-dashoffset 2s ease 0s;
  -o-transition: fill-opacity 1.5s ease 1s, stroke-dashoffset 2s ease 0s;
  transition: fill-opacity 1.5s ease 1s, stroke-dashoffset 2s ease 0s;
  fill-opacity: 1;
  stroke-dashoffset: 0;
  -webkit-animation: opacitySt 0.5s ease 1.3s forwards;
          animation: opacitySt 0.5s ease 1.3s forwards;
}

.signup__body {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__caption {
  font-weight: 400;
  background-color: rgb(90, 97, 237);
  font-family: PTSans, sans-serif;
  font-size: 2.375rem;
  line-height: 1.3;
  padding-left: 0.9375rem;
  padding-right: 1.875rem;
  color: rgb(255, 255, 255);
}

.signup__form {
  padding-top: 2.4075rem;
  padding-bottom: 2rem;
  padding-right: 1.375rem;
  padding-left: 1.3rem;
}

.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.form__decor {
  position: absolute;
  right: -19.7044334975%;
  top: 23.7817355059%;
  fill: #f9faff;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill-opacity: 0;
  stroke: #dfe0e5;
  stroke-width: 0.0625rem;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
}

.form__caption {
  font-size: 1.375rem;
  line-height: 1.1818181818;
  letter-spacing: -0.0209090909em;
  font-weight: 500;
}

.form__prompt {
  display: block;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 300;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form__prompt:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.4375rem, 1fr));
  -webkit-column-gap: 0.84375rem;
     -moz-column-gap: 0.84375rem;
          column-gap: 0.84375rem;
  row-gap: 1rem;
}

.form__body-item {
  min-height: 2.625rem;
}

.form__bottom {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.form__bottom-btn {
  position: relative;
  font-family: PTSans, sans-serif;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  background-color: rgb(90, 97, 237);
  width: 100%;
  max-width: 9.625rem;
  padding: 0.4375rem 0.625rem;
  min-height: 2rem;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.form__bottom-btn._run {
  -webkit-animation: runBtn 0.6s ease-in-out forwards;
          animation: runBtn 0.6s ease-in-out forwards;
}

.form__bottom-btn:focus {
  border-radius: 0.3125rem;
  -webkit-box-shadow: inset 0.3125rem -0.3125rem 0.5625rem #cfcfcf, inset -0.3125rem 0.3125rem 0.5625rem #ffffff;
          box-shadow: inset 0.3125rem -0.3125rem 0.5625rem #cfcfcf, inset -0.3125rem 0.3125rem 0.5625rem #ffffff;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(90, 97, 237);
  gap: 0.1875rem;
  font-size: 0.8125rem;
}

.box__question {
  font-weight: 200;
  line-height: 1.1730769231;
  color: rgb(17, 17, 17);
  letter-spacing: 0.01875rem;
}

.box__link {
  text-decoration: underline;
  font-weight: 500;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.box__link:focus {
  -webkit-box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
          box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
}

.item-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0.0625rem solid rgb(242, 242, 242);
  padding-bottom: 0.0875rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate(0, 20%);
      -ms-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.item-form #mail-error {
  color: rgb(255, 34, 34);
  font-size: 0.75rem;
  position: absolute;
  top: 100%;
  font-family: inherit;
}

.item-form--index1 {
  z-index: 11;
}

.item-form--index {
  z-index: 10;
}

.item-form._active::before {
  opacity: 1;
  visibility: visible;
}

.item-form::before {
  position: absolute;
  right: -0.25rem;
  top: 47.619047619%;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  color: rgb(90, 97, 237);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-form__label {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  font-weight: 200;
}

.item-form__label--weight {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-form__input {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding: 0.24375rem 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: transparent;
  border: 0.0625rem solid transparent;
}

.item-form__input.error {
  border: 0.0625rem solid rgb(255, 34, 34);
}

.item-form__input--icon {
  padding-right: 0.9375rem;
}

.item-form__input:focus {
  -webkit-box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
          box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
  border-radius: 0.125rem;
  padding-left: 0.625rem;
}

.item-form__input:focus ~ .item-form__label--weight {
  -webkit-box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
          box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
}

.item-form__input::-webkit-input-placeholder {
  opacity: 0;
  font-size: 0;
}

.item-form__input::-moz-placeholder {
  opacity: 0;
  font-size: 0;
}

.item-form__input:-ms-input-placeholder {
  opacity: 0;
  font-size: 0;
}

.item-form__input::-ms-input-placeholder {
  opacity: 0;
  font-size: 0;
}

.item-form__input::placeholder {
  opacity: 0;
  font-size: 0;
}

.item-form__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding: 0.30625rem 0;
  background-color: transparent;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-form__btn._active::after {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.item-form__btn::after {
  content: "";
  width: 0.5rem;
  height: 0.25rem;
  background: url("../img/arrow.svg") 0 0 no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-form__btn:focus {
  -webkit-box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
          box-shadow: inset 0rem 0rem 0.375rem rgb(90, 97, 237);
}

.item-form__list {
  position: absolute;
  top: calc(100% + 0.3125rem);
  left: -0.3125rem;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-radius: 0.125rem;
  max-height: 12.5rem;
  overflow: auto;
  background: -o-linear-gradient(305deg, #f9faff, #fcfcfc);
  background: linear-gradient(145deg, #f9faff, #fcfcfc);
  -webkit-box-shadow: 0.9375rem 0.9375rem 1.875rem #bebebe, -0.9375rem -0.9375rem 1.875rem #ffffff;
          box-shadow: 0.9375rem 0.9375rem 1.875rem #bebebe, -0.9375rem -0.9375rem 1.875rem #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-form__list._active {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.item-form__list-item {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding: 0.1875rem 0.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  background-color: inherit;
}

.item-form__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23.829787234% 38.7234042553% 28.9361702128%;
  grid-template-columns: 23.829787234% 38.7234042553% 28.9361702128%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.6125rem;
     -moz-column-gap: 0.6125rem;
          column-gap: 0.6125rem;
}

.item-form__dropdown {
  position: relative;
}

.item-form__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.1875rem;
     -moz-column-gap: 1.1875rem;
          column-gap: 1.1875rem;
  padding: 0.30625rem 0;
}

.item-form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}

.status {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  z-index: 20;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.status--error._active,
.status--ok._active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.status__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6875rem;
  padding-top: 41%;
  padding-left: 12.0879120879%;
  margin-bottom: 9.5rem;
}

.status__message span:nth-child(1) {
  font-size: 1.375rem;
  line-height: 1.1818181818;
  letter-spacing: -0.02875rem;
}

.status__message span:nth-child(2) {
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.status__message-error {
  font-size: 1.875rem;
  text-transform: uppercase;
  padding-top: 41%;
  margin-bottom: 9.5rem;
  padding-left: 12.0879120879%;
  color: rgb(255, 34, 34);
}

.status__bottom-box {
  padding-left: 1.3rem;
}

@media screen and (min-width: 29.99875em) {
  .signup__caption {
    font-size: 3.0625rem;
    line-height: 1.2857142857;
    letter-spacing: 0.0102040816em;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    padding-left: 0.35625rem;
    padding-top: 1.37375rem;
  }
}

@media screen and (min-width: 38.125em) {
  .signup__caption {
    padding-right: 4.28125rem;
  }
}

@media screen and (min-width: 49.99875em) {
  .signup {
    padding-top: 3.78rem;
    padding-bottom: 3.72rem;
    padding-left: 4.25rem;
    padding-right: 4.1875rem;
  }
}

@media screen and (min-width: 50em) {
  .form__body:not(:last-child) {
    margin-bottom: 6.218125rem;
  }
}

@media screen and (max-width: 50em) {
  .form__body:not(:last-child) {
    margin-bottom: calc(
			2.1875rem + 69 * ((100vw - 20rem) / (800 - 320))
		);
  }
}

@media screen and (max-width: 49.99875em) {
  .signup {
    padding-top: calc(
			0.9375rem + 45.48 * ((100vw - 20rem) / (800 - 320))
		);
    padding-bottom: calc(
			0.9375rem + 44.52 * ((100vw - 20rem) / (800 - 320))
		);
    padding-right: calc(
			0.9375rem + 52 * ((100vw - 20rem) / (800 - 320))
		);
    padding-left: calc(
			0.9375rem + 53 * ((100vw - 20rem) / (800 - 320))
		);
  }
}

@media screen and (max-width: 42.68625em) {
  .signup__form {
    padding: 0.625rem;
  }
}

@media screen and (max-width: 35.625em) {
  .form__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__bottom-btn {
    max-width: 100%;
  }
}

@media screen and (max-width: 29.99875em) {
  .signup__body {
    display: block;
    margin: 0 -0.9375rem;
  }
}

@media (any-hover: hover) {
  .form__bottom-btn:hover {
    background-color: #2c35e8;
  }

  .item-form__list-item:hover {
    background-color: rgba(90, 97, 237, 0.6);
  }
}
